@font-face {
    font-family: Nunito;
    src: url(../font/Nunito-Regular.ttf);
}

body {
    background: #DCF5FF;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: Nunito;
}

// .container {
//     width: 30%;
//     background: #fff;
//     border-radius: 10px;

    .inner {
        background: rgb(7, 218, 165);
        padding: 1em;
        border-radius: 10px;
        width: 350px;
        clip-path: circle(10% at 90% 20%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        &:hover {
            clip-path: circle(75%);
            background: #2196F3;
        }

        span {
            float: right;
            color: #fff;
            font-weight: bold;
            transition: color .5s;
            position: relative;
            margin: 5% 5.4%;
            font-size: 1.5rem;
        }

        &:hover span {
            color: transparent;
        }

        h1 {
            color: #fff;
            margin: 0;
        }

        p {
            color: #fff;
            font-size: .95rem;
        }
    }


// }